@model CRUD_Session.ViewModels.User
<div class="row">
    <div class="col-md-4">
        <form method="post" action="/Authentification/Login">
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Se connecter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
